export const environment = {
  production: true,
  apiUrl: 'https://YOUR_API_GATEWAY_ID.execute-api.us-east-1.amazonaws.com/dev',
  apiBaseUrl: 'https://YOUR_API_GATEWAY_ID.execute-api.us-east-1.amazonaws.com/dev'
};
